# build outputs
.zig-cache
zig-pkg
zig-out
target
Cargo.lock
node_modules
dist

# misc
.DS_Store
*.pem
.direnv

# debug
*.log
*.tmp
*.dat
*.db
*.db*
*.wal

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
